html {
  background: #018ded url(https://unsplash.it/1500/1000?image=881&blur=5);
  background-size: cover;
  font-family: "helvetica neue";
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
}

.clock {
  width: 30rem;
  height: 30rem;
  border: 20px solid white;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
    inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* accounts for the height of the clock hands */
}

/*  */
.clock-face::after {
  content: "";
  border: 8px solid white;
  /* outline: 2px solid #000; */
  opacity: 95%;
  border-radius: 50%;
  position: absolute;
  top: 145px;
  left: 142px;
}

.hand {
  width: 50%;
  height: 6px;
  background: black;
  position: absolute;
  top: 50%;

  transform-origin: 100%;
  /* changes the pivot of rotation in x-axis; by default it's in 50% ; 100% pushes the pivot to the extreme right*/

  transform: rotate(90deg);
  /* to set default hand at 12 */

  /* transition: all 0.5s; */
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.57, 1);
}

.second-hand {
  transform: rotate(0deg);
  background: violet;
}

.hour-hand {
  transform: rotate(90deg);
  background: blue;
}

.min-hand {
  transform: rotate(180deg);
  background: indigo;
}

/* .seconds-hand {
  transform: rotate(270deg);
} */
