html {
  background: #018ded url(https://unsplash.it/1500/1000?image=881&blur=5);
  background-size: cover;
  font-family: "helvetica neue";
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  /* flex: 1; */
  min-height: 100vh;
  align-items: center;
}

.clock {
  width: 30rem;
  height: 30rem;
  border: 20px solid white;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
    inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
  background: url(./clockFace.png.png);
  background-size: contain;
  /* background-size: auto; */
  background-position: 8px 8px;
  background-repeat: no-repeat;
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* accounts for the height of the clock hands */
}

/*  */
.clock-face::after {
  content: "";
  border: 10px solid #af312f;
  border-radius: 50%;
  position: absolute;
  top: 133px;
  left: 134px;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
}

.hand {
  position: absolute;
  top: 0;
  left: 47%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 15rem 5px;
  border-color: transparent transparent black transparent;
  transform-origin: bottom;
}

/* for two dots */
.hand::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: -5px;
}

.hand::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  bottom: -25px;
  left: -5px;
}

.second-hand {
  border-width: 0 4px 15rem 4px;
  border-color: transparent transparent #af312f transparent;
  top: 0px;
  left: 50%;
}

.second-hand::after {
  display: none;
}
.second-hand::before {
  display: none;
}
.hour-hand {
  border-width: 0px 8px 10rem 8px;
  top: 52px;
}

.min-hand {
  border-width: 0 6px 13rem 6px;
  top: 23px;
}
